@model Category

<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th>Category ID</th>
        <th>Name</th>
        <th>Department ID</th>
    </tr>
    <tr>
        <td>@Model.CategoryID</td>
        <td>@Model.Name</td>
        <td>@Model.DepartmentID</td>
    </tr>

</table>

<div style="display: block">
    <a href="/Product/ViewCategoryProducts/@Model.CategoryID">View Products in the @Model.Name Category</a>
</div>
